IMAGETAG="default"

CA_IMAGETAG="default"

CRYPTO="cryptogen"

MAX_RETRY=5

CLI_DELAY=3

CHANNEL_NAME="votechannel"

DATABASE="voteDB"

ORG=1

CC_SRC_LANGUAGE="java"

CC_VERSION="1.0.1"

CC_NAME="basic"

CCAAS_DOCKER_RUN=true

CC_SRC_PATH="/asset-transfer-basic/chaincode-java"

CC_END_POLICY="NA"

CC_COLL_CONFIG="NA"

CC_INIT_FCN="NA"

CC_SEQUENCE=auto

CC_INVOKE_CONSTRUCTOR=''{\"Args\":[\"InitLedger\"]}''

CC_QUERY_CONSTRUCTOR=''{\"Args\":[\"GetAllAssets\"]}''
